<h1>Feedback</h1>

<a href="admin">
    <h3>admin</h3>
</a>

<div class="form">
    <form action="/" method="post">
        <input type="text" name="firstname" id="firstname" placeholder="Firstname" class="input">
        <input type="text" name="lastname" id="lastname" placeholder="Lastname" class="input">
        <input type="text" name="email" id="email" placeholder="Email" class="input">
        <textarea type="text" name="feedback" id="feedback" placeholder="Feedback" class="input"></textarea>
        <button type="submit" class="button">Go</button>
    </form>
</div>

